TG_API_ID=your_api_id_here
TG_API_HASH=your_api_hash_here
TG_SESSION_STRING=generated_from_generate_session_py
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
DRIVE_FOLDER_ID=your_drive_folder_id_here
